.page-2-block {
  width: 100vw;
  height: 100vh;
  overflow: "hidden";
  background-color: "#e7ebf0";
  display: "flex";
  align-items: "center";
  justify-content: "center";
}

.button-back{
  width: 200px;
  height: 50px;
  background-color: grey;
}
